<a style="text-decoration: none; color: black;" href="/">
    <div class="hello">
        <h1><img class="welcomeImg" src="<%= image_path('ruby-logo.png') %>" max-width=250px alt=""> rbchan</h1>
    </div>
</a>
<p>
    rbchan is a simple image-based bulletin board where anyone can post comments and share images.
    There are boards dedicated to a variety of topics,
    from Japanese animation and culture to videogames, music, and photography.
    Users do not need to register an account before participating in the community.
    Feel free to click on a board below that interests you and jump right in!
    <br><br>
    <!-- todo: faq and rules links -->
    Be sure to familiarize yourself with the Rules before posting, and read the FAQ if you wish to learn more about how to use the site.
</p>
