<div class="boardNav">
    <span class="boardList">
        [
            <% Board.find_each do |b| %>
                <a href="/<%= b.name %>/"><%= b.name %></a>
            <% end %>
        ]
    </span>
    <span class="navTopRight">
        [<a href="#">Search</a>]
        [<a href="#">Home</a>]
    </span>
</div>
