<!DOCTYPE html>
<html>
    <head>
        <title>rbchan</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= favicon_link_tag asset_path('ruby-logo.png') %>
        <%= yield :head %>
    </head>
    <body>
        <%= render 'layouts/nav' %>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
